In [1]:
import twint
import pandas as pd
import nest_asyncio
nest_asyncio.apply()

In [18]:
all_cities = ["New York","Chicago","Washington D.C.","Boston","Los Angeles","San Francisco","Houston","Dallas","Philadelphia","Miami"]
def scrape_by_city(keywords, since, outfile):
    unique_cities=set(all_cities) #To get unique cities of country
    cities = sorted(unique_cities) #Sort & convert datatype to list
    for city in cities:
        print(city)
        c = twint.Config()
        c.Search = keywords #search keyword
        c.Since = since
        c.Limit = 900
        c.Store_csv = True
        c.Output = "./" + outfile
        c.Near = city
        c.Hide_output = True
        c.Count = True
        c.Stats = True
        c.Resume = 'resume.txt'
        twint.run.Search(c)

scrape_by_city('abortion', '2022-05-03 00:00:00', 'roevwade_tweets_washington.csv')

San Francisco
[+] Finished: Successfully collected 918 Tweets.
Washington D.C.
[+] Finished: Successfully collected 913 Tweets.

In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv('roevwade_tweets_10_cities.csv')
df2 = pd.read_csv('roevwade_tweets_washington_sanfran.csv')
df.head(3)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1523904809388154880,1523791590485270529,2022-05-10 01:56:33 Eastern Daylight Time,2022-05-10,01:56:33,-400,809222040280592384,nicksoutter,Nicholas Lamar Soutter,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'PaleBlueMomma', 'name': 'Pal...",NaN,NaN,NaN,NaN
1,1523901833592381443,1523474849662144517,2022-05-10 01:44:44 Eastern Daylight Time,2022-05-10,01:44:44,-400,242982122,sylverfyrevalk,mys. sylverfyre,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'hbt_ft', 'name': 'Trying not...",NaN,NaN,NaN,NaN
2,1523900479696158720,1523900479696158720,2022-05-10 01:39:21 Eastern Daylight Time,2022-05-10,01:39:21,-400,27744454,fairyflossfro,✿ artsy black girl ✿,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [20]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [21]:
df['near'].unique()

array(['Boston', 'Chicago', 'Dallas', 'Houston', 'Los Angeles', 'Miami',
       'New York', 'Philadelphia'], dtype=object)

In [22]:
df2['near'].unique()

array(['San Francisco', 'Washington D.C.'], dtype=object)

In [23]:
frames = [df, df2]

final_dataset = pd.concat(frames)
final_dataset.shape

(8882, 36)

In [24]:
final_dataset['near'].unique()

array(['Boston', 'Chicago', 'Dallas', 'Houston', 'Los Angeles', 'Miami',
       'New York', 'Philadelphia', 'San Francisco', 'Washington D.C.'],
      dtype=object)

In [27]:
final_dataset.to_csv('roevwade_top10cities_900tweets.csv')