In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('roevwade_top10cities_900tweets.csv')
df.head(3)

,Unnamed: 0,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1523904809388154880,1523791590485270529,2022-05-10 01:56:33 Eastern Daylight Time,2022-05-10,01:56:33,-400,809222040280592384,nicksoutter,Nicholas Lamar Soutter,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'PaleBlueMomma', 'name': 'Pal...",NaN,NaN,NaN,NaN
1,1,1523901833592381443,1523474849662144517,2022-05-10 01:44:44 Eastern Daylight Time,2022-05-10,01:44:44,-400,242982122,sylverfyrevalk,mys. sylverfyre,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'hbt_ft', 'name': 'Trying not...",NaN,NaN,NaN,NaN
2,2,1523900479696158720,1523900479696158720,2022-05-10 01:39:21 Eastern Daylight Time,2022-05-10,01:39:21,-400,27744454,fairyflossfro,✿ artsy black girl ✿,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [2]:
df.shape

(8882, 37)

In [3]:
df.columns

Index(['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'date', 'time',
       'timezone', 'user_id', 'username', 'name', 'place', 'tweet', 'language',
       'mentions', 'urls', 'photos', 'replies_count', 'retweets_count',
       'likes_count', 'hashtags', 'cashtags', 'link', 'retweet', 'quote_url',
       'video', 'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [6]:
df.to_csv('roevwade_top10cities_900tweets_cleaned.csv')

--------------------------------------------------------------------

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('roevwade_top10cities_900tweets_cleaned.csv')
df.head(3)

,Unnamed: 0,date,time,name,username,state,tweet
0,0,2022-05-10,01:56:33,Nicholas Lamar Soutter,nicksoutter,Boston,"@PaleBlueMomma Well, murdering a 21 year old r..."
1,1,2022-05-10,01:44:44,mys. sylverfyre,sylverfyrevalk,Boston,@hbt_ft @jskilesskinner anti abortion ppl hara...
2,2,2022-05-10,01:39:21,✿ artsy black girl ✿,fairyflossfro,Boston,This analysis is lazy at best. Why are we wast...

In [6]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [7]:
stop_words = set(stopwords.words('english'))
print(df['tweet'][0])
df['tweet'] = df['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
print("---")
print(df['tweet'][0])

@PaleBlueMomma Well, murdering a 21 year old really is committing an abortion... in the 66th trimester.
---
@PaleBlueMomma Well, murdering 21 year old really committing abortion... 66th trimester.

In [8]:
df.to_csv('roevwade_top10cities_900tweets_cleaned.csv')